<div *ngIf="!freedback">
    <div *ngIf="user">
        <form (ngSubmit)="updateuser()">
            <div class="form-group">
                <label for="name">name</label>
                <input type="text" name="name" [(ngModel)]="user.name">
            </div>
            <div class="form-group">
                <label for="username">username</label>
                <input type="text" name="username" [(ngModel)]="user.username">
            </div>
            <button class="btn btn-success" type="submit">submit</button>
        </form>
    </div>
</div>